*{
    margin: 2;
    padding: 2;
}

.haeder-container{
    background-color: #5fff00;
}

.app-header{
    font-weight: bold; /* Make the text bold */
    color: rgb(0, 101, 0); /* Set text color to green */
    text-shadow: 0 0 1px black; /* Apply black outline */
    font-size: 5vw; /* Set font size relative to viewport width */
}

.main-container{
    border: solid 1px black;
    border-radius: 15px;
    margin: 3px;
    min-width: 400px;
}
.w-full {
    width: 100%;
}
  
.aspect-square {
    aspect-ratio: 1/1; /* Square aspect ratio */
}

.border-none {
    border: none;
}

.cursor-crosshair {
    cursor: crosshair;
}

.shorter-than-page {
    height: 30vh; 
}

.auto-margin{
    margin: auto;
}

.canvass{
    width: 50%;
    margin: auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    padding-bottom: 2px;
  }